<style>

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .button {
    justify-content: space-evenly;
    text-align: center;
    
  }

  button {
    margin: 10px;
    background-color: rgb(156, 214, 231);
    padding: 1rem;
    font-size: 15px;
    color: #17609c; 
    border-radius: 20px;
    border-width: 1px;
    /* width: 50%; */
  }

</style>

<main class="main">
  <div class="content">
    <div class="main-page">
      <h1>
        Welcome to myFlix!
      </h1>
      <div class="button">
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        Sign Up
      </button>
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        Login
      </button>
    </div>
    </div>
  </div>
</main>




